body {
    /* Aquí está el fondo con sus parámetros */
    background-image: url('FondoLectura.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 50px auto;
    text-align: center; /* Centrar todo el contenido del cuerpo */
}

textarea {
    /* Aquí Diego está el redondeo de las puntas de tu caja de texto */
    width: 100%;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px; /* Bordes */
    border: 1px solid #ccc; /* visible */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para el volumen estilizado */
}

button {
    margin: 10px auto; /* Centro horizontalmente */
    width: 425px; /* Ancho del botón en píxeles */
    height: 150px; /* Alto del botón en píxeles */
    border: none;
    background-color: #3a3a3a; /* Color de fondo del botón */
    color: white; /* Color del texto */
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border-radius: 10px; /* Bordes redondeados del botón */
    font-family: 'Arial Blood', sans-serif; /* Aplicar la fuente Arial Blood */
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7); /* Sombra del texto */
    display: flex; /* Usar flexbox para centrar el texto */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
    white-space: nowrap; /* Evitar que el texto se divida en varias líneas */
    transition: background-color 0.3s, transform 0.3s; /* Transición suave para el color de fondo y transformaciones */
}

/* Efecto al pasar el cursor sobre el botón */
button:hover {
    background-color: #45a049; /* Color de fondo más oscuro al pasar el cursor */
    transform: scale(1.1); /* Aumentar ligeramente el tamaño del botón al pasar el cursor */
}